.header {
  font-family: "Ubuntu Mono", monospace;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  height: 15%;
}

.title {
  font-weight: 700;
  font-size: 30px;
}
.logo {
  height: 60px;
  width: 60px;
}
