.result {
  width: 90%;
  margin: 0 auto;
  overflow-y: scroll;
  height: 85%;
  padding-bottom: 10px;
}

.errorMessage {
  color: red;
}

.errorImage {
  width: 240px;
}

.searchWord {
  font-weight: 700;
  font-size: 50px;
}

.searchWord:hover {
  cursor: pointer;
}

.subHeader {
  color: #da4167;
}
